In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv(r"C:\Users\DELL\Desktop\LP1\LP I (AI x 7)\15 bike sharing\2010-capitalbikeshare-tripdata.csv")

In [4]:
dataset.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [5]:
dataset.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
115592,2179,2010-12-31 23:20:32,2010-12-31 23:56:52,31110,20th St & Florida Ave NW,31623,Columbus Circle / Union Station,W00859,Casual
115593,953,2010-12-31 23:21:57,2010-12-31 23:37:50,31106,Calvert & Biltmore St NW,31401,14th St & Spring Rd NW,W00914,Member
115594,737,2010-12-31 23:27:28,2010-12-31 23:39:45,31602,Park Rd & Holmead Pl NW,31401,14th St & Spring Rd NW,W00973,Member
115595,514,2010-12-31 23:37:38,2010-12-31 23:46:12,31111,10th & U St NW,31202,14th & R St NW,W01119,Member
115596,51962,2010-12-31 23:49:05,2011-01-01 14:15:08,31111,10th & U St NW,31111,10th & U St NW,W00771,Casual

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [7]:
X = dataset.iloc[:, [0, 3, 5]]

In [8]:
X

        Duration  Start station number  End station number
0           1012                 31208               31108
1             61                 31209               31209
2           2690                 31600               31100
3           1406                 31600               31602
4           1413                 31100               31201
...          ...                   ...                 ...
115592      2179                 31110               31623
115593       953                 31106               31401
115594       737                 31602               31401
115595       514                 31111               31202
115596     51962                 31111               31111

[115597 rows x 3 columns]

In [9]:
y = dataset.iloc[:, -1]

In [10]:
y

0         Member
1         Member
2         Member
3         Member
4         Member
           ...
115592    Casual
115593    Member
115594    Member
115595    Member
115596    Casual
Name: Member type, Length: 115597, dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:
y = le.fit_transform(y)

In [14]:
y

array([1, 1, 1, ..., 1, 1, 0])

In [15]:
print(y)

[1 1 1 ... 1 1 0]

In [16]:
y.shape

(115597,)

In [17]:
print("Sample y: "+str(y[0:10]))

Sample y: [1 1 1 1 1 1 1 1 1 1]

In [18]:
print("0: "+str(le.classes_[0]))
print("1: "+str(le.classes_[1]))

0: Casual
1: Member

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=0)

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
clf = DecisionTreeClassifier(max_depth=None, min_samples_leaf=4, criterion="entropy", random_state=0)

In [23]:
print(clf)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=4, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [24]:
model =clf.fit(X_train, y_train)

In [25]:
model

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=4, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [26]:
X_train

       Duration  Start station number  End station number
14887      1117                 31206               31228
76419      1142                 31603               31224
51879       821                 31107               31213
35884      2342                 31602               31624
62522      8674                 31609               31609
...         ...                   ...                 ...
21243       786                 31224               31107
45891       574                 31214               31212
42613       655                 31236               31212
43567       739                 31613               31616
68268       255                 31200               31201

[77064 rows x 3 columns]

In [27]:
X_new = [[2000, 31200, 32000]]
print(model.predict(X_new))

[0]

In [28]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

In [29]:
y_pred = model.predict(X_test)

print("The accuracy of the model is: "+str(accuracy_score(y_test, y_pred)*100))

The accuracy of the model is: 80.86834661199491

In [30]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

In [31]:
print(cm)

[[ 4397  3671     0]
 [ 3699 26764     0]
 [    0     2     0]]

In [32]:
from sklearn.metrics import classification_report

In [33]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.54      0.54      0.54      8068
           1       0.88      0.88      0.88     30463
           2       0.00      0.00      0.00         2

    accuracy                           0.81     38533
   macro avg       0.47      0.47      0.47     38533
weighted avg       0.81      0.81      0.81     38533

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)